html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*  TYPOGRAPHY  */

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 72pt;
}

h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 36pt;
}

h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24pt;
}

h4 {
  font-family: "Source Sans Pro", sans-serif;
}

h5 {
  font-family: "Source Sans Pro", sans-serif;
}

h6 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16pt;
}
.red-s {
  color: red;
}

/* NAVIGATION */

.home-link-logo {
  justify-content: left;
}

/*  HOME PAGE  */

.Home .Hero {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: url("./Assets/Images/hero-home-img.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.Home-intro {
  height: 100vh;
}

.Home-intro h1 {
  margin-top: 0;
}

.intro-text {
  width: 600px;
  margin-top: 150px;
  margin-left: 300px;
  text-align: left;
}

.intro-heading {
  color: #a70000;
}

.sub-intro {
  width: 500px;
  margin-top: 200px;
  margin-left: 700px;
  text-align: left;
}

.Current-model-922 {
  height: 150vh;
}

.Current-model-922 h1 {
  margin-top: 0;
}

.Current-model-922 img {
  width: 1200px;
}

.other-992s {
  width: 1200px;
  margin: auto;
}

.column {
  float: left;
  width: 600px;
}

.other-992s::after {
  content: "";
  display: table;
  clear: both;
}

.column img {
  width: 100%;
}

.Coming-soon {
  height: 140vh;
  background-color: #000000;
}

.Coming-soon-hero-image {
  height: 756px;
}

.Coming-soon-hero-image img {
  margin-top: 210px;
  max-height: 100%;
}

.Home-cta {
  margin: auto;

  width: 1200px;
  height: 945px;
}

.cta-row {
  width: 1200px;
  margin: auto;
  background-color: pink;
}

.column-cta {
  float: left;
  width: 600px;
}

.cta-row::after {
  content: "";
  display: table;
  clear: both;
}

.column-cta img {
  height: 540px;
}

/*  TURBO PAGE  */

.hero-section-turbo {
  height: 100vh;
}

.hero-section-turbo img {
  max-width: 100%;
  max-height: 100%;
}

.turbo-engine img {
  width: 100vw;
}

.turbo-s {
  background-color: #000000;
  height: 1970px;
}

.turbo-s img {
  width: 70%;
  margin: auto;
  display: block;
}

.turbo-s-text {
  width: 70%;
  color: white;
  margin: auto;
  display: block;
}

.turbo-s-text h1 {
  margin-bottom: 0px;
}

.turbo-s-main-text {
  width: 70%;
  color: red;
  margin: auto;
  display: block;
}

.the-range-turbo {
  height: 700px;
  width: 90%;
  background-color: pink;
  margin: auto;
}

.the-range-turbo img {
  text-align: center;
  margin: auto;
  display: inline-block;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;
}

.the-range-turbo img {
  height: 300px;
}

.turbo-carousel-buttons {
  color: white;
  background-color: black;
}

.turbo-carousel-buttons button {
  width: 50%;
  border: none;
  color: white;
  background-color: black;
}

.turbo-carousel-buttons button:active {
  border-style: none;
  color: none;
}

.turbo-carousel-buttons button:hover {
  background-color: #a70000;
}

/*  CARRERA PAGE  */

.carrera-hero {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.carrera-page-hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.coupe img {
  height: 700px;
}

.targa-picture img {
  margin-left: 400px;
  height: 590px;
}

.targa-section-text {
  z-index: 1;
  height: 500px;
  width: 500px;
  background-color: #1d2238;
}

.targa-section-text h3 {
  color: white;
}

.carrera-carousel-buttons {
  color: white;
  background-color: black;
}

.carrera-carousel-buttons button {
  width: 33.3%;
  border: none;
  color: white;
  background-color: black;
}

.carrera-carousel-buttons button:active {
  border-style: none;
  color: none;
}

.carrera-carousel-buttons button:hover {
  background-color: #a70000;
}

/* GT3 */

.the-range-gt3 img {
  height: 400px;
}

/* GENERATIONS */

.gens-arr {
  text-align: center;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
