html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*  TYPOGRAPHY  */

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 32pt;
}

h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24pt;
}

h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18pt;
}

h4 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16pt;
}

h5 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 13pt;
}

h6 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 10pt;
}
.red-s {
  color: red;
}

.gt3-model-data {
  align-items: center;
  margin-top: -250px;
  margin-left: 100px;
  width: 90%;
  column-count: 2;
  grid-template-columns: 50% 50%;
}

.gt3-model-data h5 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.gt3-model-data h6 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.gt3-model-data p {
  text-align: left;
  margin-top: 25px;
  margin-bottom: 0px;
}

.single-model {
  width: 600px;
  height: 200px;
  margin-bottom: 350px;
}

.technical-data-collaspable {
  position: relative;
  width: 350px;
  height: 588px;
  margin: auto;
  background-color: antiquewhite;
  border-radius: 10px;
  z-index: 1;
}

.technical-data-collaspable h3 {
  position: relative;
  z-index: 0;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 0px;
}

.technical-data-collaspable p {
  position: relative;
  z-index: 0;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 0px;
}

.collaspibleTrigger {
  margin: auto;
  height: 25px;
  width: 90%;
  color: white;
  background-color: #000000;
}

.data {
  display: inline-block;
}

/* NAVIGATION */

.navigation {
  height: 125px;
}

.home-link-logo {
  width: 100vh;
  margin-bottom: 0px;
  margin-left: 50%;
}

.home-link-logo img {
  margin-top: 20px;
  margin-bottom: 0px;
  justify-content: center;
  height: 36px;
}

.navigation-links {
  text-align: center;
}

.navigation-links li {
  display: inline-block;
  margin-right: 10px;
}

.navigation-links li {
  display: inline-block;
  margin-right: 10px;
}

.navigation-links li h5 {
  font-family: "Source Sans Pro", sans-serif;
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
}

.navigation-links li h5:hover {
  font-family: "Source Sans Pro", sans-serif;
  color: #a70000;
  margin-top: 0px;
  margin-bottom: 0px;
}

.sell-icon img {
  height: 16px;
}

/*  HOME PAGE  */

.Home .Hero {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: url("./Assets/Images/hero-home-img.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.Home-intro {
  height: 100vh;
}

.Home-intro h1 {
  margin-top: 0;
}

.intro-text {
  width: 600px;
  margin-top: 150px;
  margin-left: 300px;
  text-align: left;
}

.generations-CTA {
  margin: auto;
  width: 800px;
  height: 800px;
}

.generations-CTA:after {
  content: "";
  display: table;
  clear: both;
}

.generations-CTA .cta-row {
  float: left;
  width: 50%;
  height: 50%;
  background-color: #ebebeb;
}

.generations-CTA .cta-row:hover {
  float: left;
  width: 50%;
  height: 50%;
  background-color: #a70000;
  color: white;
}

.generations-CTA .cta-row img {
  max-height: 100%;
}

.current-model-992 {
  background-color: black;
  height: 100vh;
}

.current-model-992 .text {
  color: white;
}

.current-model-992 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.intro-heading {
  color: #a70000;
}

.sub-intro {
  width: 500px;
  margin-top: 200px;
  margin-left: 700px;
  text-align: left;
}

.Current-model-922 {
  height: 150vh;
}

.Current-model-922 h1 {
  margin-top: 0;
}

.Current-model-922 img {
  width: 1200px;
}

.other-992s {
  width: 1200px;
  margin: auto;
}

.column {
  float: left;
  width: 600px;
}

.other-992s::after {
  content: "";
  display: table;
  clear: both;
}

.column img {
  width: 100%;
}

.Coming-soon {
  height: 140vh;
  background-color: #000000;
}

.Coming-soon-hero-image {
  height: 756px;
}

.Coming-soon-hero-image img {
  margin-top: 210px;
  max-height: 100%;
}

.Home-cta {
  margin: auto;

  width: 1200px;
  height: 945px;
}

.cta-row {
  width: 1200px;
  margin: auto;
  background-color: pink;
}

.column-cta {
  float: left;
  width: 600px;
}

.cta-row::after {
  content: "";
  display: table;
  clear: both;
}

.column-cta img {
  height: 540px;
}

/*  TURBO PAGE  */

.hero-section-turbo {
  height: 100vh;
}

.hero-section-turbo img {
  max-width: 100%;
  max-height: 100%;
}

.turbo-engine img {
  width: 100vw;
}

.turbo-s {
  height: 1970px;
}

.turbo-cab-warning {
  color: #a70000;
}

.turbo-s img {
  width: 70%;
  margin: auto;
  display: block;
}

.turbo-s-text {
  width: 70%;
  color: white;
  margin: auto;
  display: block;
}

.green-cab-turbo img {
  width: 100vw;
}

.turbo-s-text h1 {
  margin-bottom: 0px;
}

.turbo-s-main-text {
  width: 70%;
  color: red;
  margin: auto;
  display: block;
}

.the-range-turbo {
  height: 700px;
  width: 90%;
  background-color: pink;
  margin: auto;
}

.the-range-turbo img {
  text-align: center;
  margin: auto;
  display: inline-block;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;
}

.the-range-turbo img {
  height: 300px;
}

.turbo-carousel-buttons {
  color: white;
  background-color: black;
}

.turbo-carousel-buttons button {
  width: 50%;
  border: none;
  color: white;
  background-color: black;
}

.turbo-carousel-buttons button:active {
  border-style: none;
  color: none;
}

.turbo-carousel-buttons button:hover {
  background-color: #a70000;
}

.turbo {
  border: 3px solid pink;
}

.turbo-model-png {
  width: 90%;
  border: 3px solid red;
  column-count: 2;
  grid-template-columns: 50% 50%;
  margin: auto;
}

.turbo-model-png img {
  border: 3px solid green;
  margin-left: auto;
  margin-right: auto;
  height: 350px;
  margin-bottom: 200px;
}

.model-png img {
  height: 250px;
}

.turbo-model-data {
  height: 90vh;
  border: 3px solid blue;
  margin-top: -800px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  column-count: 2;
  grid-template-columns: 50% 50%;
}

.turbo-model-data h3,
h6 {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

/*  CARRERA PAGE  */

.carrera-hero {
  height: 125vh;
}

.carrera-hero img {
  height: 135vh;
  background-size: cover;
}

.model-range-text {
  margin-left: 250px;
}

.carrera-models {
  font-size: 0;
  height: 100vh;
  width: 1200px;
  margin: auto;
}

.carrera-coupe img {
  height: 800px;
  margin-bottom: 0px;
}

.cab-and-targa-column {
  margin-top: 0;
}

.engine {
  margin-top: 300px;
}

.engine-info {
  height: 75vh;
  grid-template-columns: 1fr 2fr;
  margin: 0px;
}

.engine-info-text {
  margin: 200px;
}

.engine .column .column-card {
  margin-top: -50px;
  margin-left: 200px;
}

.engine-info-text h6 {
  margin-bottom: 10px;
}

.engine-info-text h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.carrera-engine img {
  margin-left: 300px;
  height: 600px;
}

.carrera-carousel-buttons {
  color: white;
  background-color: black;
}

.carrera-carousel-buttons button {
  width: 25%;
  border: none;
  color: white;
  background-color: black;
}

.carrera-carousel-buttons button:active {
  border-style: none;
  color: none;
}

.carrera-carousel-buttons button:hover {
  background-color: #a70000;
}

.carrera-card {
  height: 600px;
  float: left;
  width: 33.33%;
  margin: auto;
  z-index: -10;
}

.carrera-arr:after {
  content: "";
  display: table;
  clear: both;
}

.carrera-card .carrera-model-image img {
  margin-left: 55px;
  height: 250px;
  z-index: -9;
}

.carrera-stats {
  width: 90%;
  margin: auto;
}

.model-name {
  width: 90%;
  margin: auto;
}

.model-name h2 {
  text-align: center;
  z-index: -9;
}

.model-price {
  width: 90%;
  margin: auto;
}

.model-price p {
  text-align: center;
}

.model-description {
  width: 90%;
  margin: auto;
  text-align: left;
}

.interior img {
  z-index: -1;
}

.interior-info-card {
  margin-left: 250px;
  left: 0px;
  top: 0px;
  height: 300px;
  width: 400px;
  background-color: rgba(255, 0, 0, 0.8);
  border-radius: 10px;
}

.interior-info-card-text {
  margin-left: 25px;
  margin-right: 25px;
}

.interior-info-card-text h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.interior-info-card-text h6 {
  margin-bottom: 10px;
}

/* GT3 */

.gt3-hero {
  margin-bottom: 0px;
}

.gt3 {
  position: relative;
  margin-top: 0px;
}

.gt3-page-hero img {
  height: 100vh;
}

.gt3-intro-text {
  width: 300px;
  height: 504px;
  border: solid black 2px;
}

.gt3 .text-section {
  position: absolute;
  margin-top: 150px;
  margin-left: 200px;
  top: 0px;
  width: 300px;
  height: 500px;
}

.gt3 .text-section h6 {
  color: white;
}

.word-fast h2 {
  margin-bottom: 0px;
  color: white;
}

.word-fast h1 {
  margin-top: 0px;
  color: #a70000;
}

.gt3 .gt3-intro img {
  width: 100vw;
}

.gt3-touring {
  position: relative;
  margin-top: 0px;
}

.gt3-touring-intro img {
  width: 100vw;
}

.gt3-touring .text-section {
  position: absolute;
  margin-top: 150px;
  margin-left: 200px;
  top: 0px;
  width: 300px;
  height: 500px;
}

.gt3-touring .text-section h6 {
  color: white;
}

.the-range-gt3 img {
  height: 400px;
}

.gt3-carousel-buttons {
  color: white;
  background-color: black;
}

.gt3-carousel-buttons button {
  width: 33.3%;
  border: none;
  color: white;
  background-color: black;
}

.gt3-carousel-buttons button:active {
  border-style: none;
  color: none;
}

.gt3-carousel-buttons button:hover {
  background-color: #a70000;
}

.gt3-model-png {
  margin: auto;
  width: 90%;
  column-count: 2;
  grid-template-columns: 50% 50%;
  height: 600px;
}

.gt3-model-png img {
  height: 350px;
  margin-bottom: 200px;
}

/* GENERATIONS */

.generations-hero img {
  height: 100vh;
}

.gens-arr {
  width: 90%;
  text-align: center;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: aqua;
}

.single-generation {
  border: solid 2px black;
  border-radius: 25px;
  height: 350px;
  width: 567px;
  background-color: green;
  margin-bottom: 25px;
}

.search {
  width: 100vw;
  height: 250px;
  background-color: black;
}

.search .search-text {
  display: inline-block;
  width: 700px;
  color: white;
  margin-left: 200px;
}

.search .search-text h2 {
  margin-bottom: 15px;
}

.search .search-text h5 {
  margin-top: 0;
}

.search .searchbar input {
  display: block;
  height: 50px;
  width: 700px;
  margin-top: 10px;
  margin-left: 200px;
  border-style: none;
  border-radius: 25px;
}
