*  div {
  border: 2px, solid, black;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}






/*  TYPOGRAPHY  */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 72pt;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36pt;
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24pt;
}

h4 {
  font-family: 'Source Sans Pro', sans-serif;
}

h5 {
  font-family: 'Source Sans Pro', sans-serif;
}

h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16pt;
}



/*  HOME PAGE  */

.Hero {
  height: 100vh;
}

.Hero img {
  max-width: 100%;
  max-height: 100%;
}

.Home-intro {
  height: 75vh;
}

.Home-intro h1 {
  margin-top: 0;
}


.intro-text {
  width: 600px;
  margin-top: 150px;
  margin-left: 300px;
  text-align: left;
}

.sub-intro {
  width: 500px;
  margin-top: 200px;
  margin-left: 700px;
  text-align: left;
}

.Current-model-922 {
  height: 150vh;
}

.Current-model-922 h1 {
  margin-top: 0;
}

.Current-model-922 img {
  width: 1200px;
}


.other-992s {
  width: 1200px;
 margin: auto;
}

.column { 
  float: left;
  width:600px;
}

.other-992s::after {
  content: "";
  display: table;
  clear: both;
}

.column img {
  width: 100%;
}

.Coming-soon {
  height: 100vh;
}

.Coming-soon img {
  width: 100vh;
}

/*  TURBO PAGE  */

.hero-section-turbo {
  height: 100vh;
}

.hero-section-turbo img {
  max-width: 100%;
  max-height: 100%;
}